<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<main>
		<div id="container">	
			<div id="actionbar" class="row">
				<div class="col-md-4 mb-3">
					<a href="#" th:href="@{/transporte/regresar}"><img th:src="@{/images/iconos/regresar.png}" alt="Regresar" /></a>
				</div>
				<div class="col-md-8 mb-3 tituloPrincipal" align="left" ><br/> Mantenimiento de Transporte - Nuevo</div>
			</div>
			
			<form id="form" th:object="${entidad}" th:action="@{/transporte/nuevo/guardar}" method="post">
				<div id="informacion" class="container_v3">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border title10pt">Datos Nuevos del Transporte</legend>
							
							<div class="row">
								
								<div class="col-md-8 mb-3">
									<label for="idDireccion" class="textBold9pt">Nombre de Transporte</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Nombre" th:field="${entidad.nombre}" required="required" maxlength="256"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">RUC</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero de RUC" th:field="${entidad.ruc}" required="required" maxlength="16"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Nro Registro MTC</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero de RUC" th:field="${entidad.numeroRegistroMtc}" required="required" maxlength="20"/>
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Marca</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Marca del vehiculo" th:field="${entidad.marca}" required="required" maxlength="64"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Placa</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero de Placa" th:field="${entidad.placa}" required="required" maxlength="32"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Placa 2</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero del Remolque" th:field="${entidad.remolque}" maxlength="32"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Nro Certificado Inscripcion</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero Certificado" th:field="${entidad.numeroCertificadoInscripcion}" required="required" maxlength="64"/>
								</div>
								<div class="col-md-2 mb-3">
									<label for="idDireccion" class="textBold9pt">Nro de Licencia</label>
									<input type="text" class="form-control_v2 is-valid" placeholder="Numero Licencia" th:field="${entidad.numeroLicencia}" required="required" maxlength="64"/>
								</div>
								<div class="col-md-2 mb-3">
								</div>
							</div>
							
					</fieldset>
					<br></br>
					<div class="container_v4" align="center">
						<div class="row">
							<div class="col-md-3 mb-3"></div>
							
			  				<div class="col-md-6 mb-3">
			  					<p style="color: red" th:text="${respuesta}" /> 
			  					<button class="btn btn-success" type="submit">Guardar</button>
			  				</div>
			  				<div class="col-md-3 mb-3"></div>
			  			</div>
			  		</div>
			  	</div>
			</form>

		</div>
	</main>
	<nav id="nav" >
		<!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
	</nav>	
</body>
</html>