<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	
		<div id="container">
			<div id="actionbar" class="row">
				<div class="col-md-12 mb-3 tituloPrincipal2" align="center" > VENTA DE COMBUSTIBLE - COMPROBANTE</div>
			</div>
			<form id="form" th:object="${entidad}" th:action="@{/combustibles/q}" method="Post">
				<div id="informacion" class="container_v3">
					<input type="hidden" th:field="${entidad.dato}" id="idDato"/>
					<br></br>
					<div class="container_v4" align="center">
						<div class="row">
							<div class="col-md-3 mb-3"> </div>
							
			  				<div class="col-md-6 mb-3">
			  					<button type="button" class="btn btn-danger btn-lg btn-block" onclick="jsMostrarBoleta();"><img th:src="@{/images/iconos/boleta.png}"	alt="Regresar" width="150px"/>&nbsp;&nbsp;&nbsp;Boleta Electr&oacute;nica</button>
								<br></br><br></br>
								<button type="button" class="btn btn-primary btn-lg btn-block" onclick="jsMostrarFactura();"><img th:src="@{/images/iconos/factura.png}"	alt="Regresar" width="150px"/> &nbsp;&nbsp;&nbsp;Factura Electr&oacute;nica</button>
			  				</div>
			  				<div class="col-md-3 mb-3"></div>
			  			</div>
						<div class="row">
			  				<div class="col-md-12 mb-3">
			  					<p style="color: red" th:text="${respuesta}" />
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-md-4 mb-3"> </div>
			  				<div class="col-md-4 mb-3">
			  					<button type="button" class="btn btn-success btn-lg btn-block" onclick="jsMostrarRegresar();"><img th:src="@{/images/iconos/regresar2.png}"	alt="Regresar" width="80px"/>&nbsp;&nbsp;&nbsp;Regresar</button>
			  				</div>
			  				<div class="col-md-4 mb-3"> </div>
			  			</div>
			  		</div>
					
				</div>
			</form>
			
		</div>
	

</body>
</html>